*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#111827;
    color:white;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#000;
}

.logo{
    color:#00d4ff;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:25px;
}

.navbar a{
    color:white;
    text-decoration:none;
}

.hero{
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height:90vh;
    padding:60px 8%;
}

.hero-text{
    width:50%;
}

.hero-text h1{
    font-size:55px;
}

.hero-text h3{
    color:#00d4ff;
    margin:15px 0;
}

.hero-text p{
    line-height:1.8;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    background:#00d4ff;
    color:#000;
    padding:12px 30px;
    text-decoration:none;
    border-radius:6px;
    font-weight:bold;
}

.hero-image img{
    width:380px;
    border-radius:15px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 80px 8%;
    background: #1f2937;
    color: white;
}

.about img{
    width:300px;
    border-radius:12px;
}

.about-content{
    max-width:600px;
}

.about-content h2{
    margin-bottom:20px;
}

.skills{
    padding:70px;
    text-align:center;
}

.skill-box{
    margin-top:30px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}

.skill-box span{
    background:#00d4ff;
    color:black;
    padding:12px 20px;
    border-radius:20px;
    font-weight:bold;
}

.projects{
    padding:70px;
    background:#1f2937;
    text-align:center;
}

.card{
    max-width:700px;
    margin:auto;
    margin-top:30px;
    background:white;
    color:black;
    padding:30px;
    border-radius:10px;
}

.contact{
    padding:70px;
    text-align:center;
}

.contact p{
    margin:12px;
}

.contact a{
    color:#00d4ff;
}

footer{
    background:black;
    text-align:center;
    padding:20px;
}